<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FEND Travel Planner</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Inria+Serif|Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <header>
      <h1>Travel Planner</h1>
    </header>
    <main>
      <label for="start">From</label>
      <input type="text" id="from">
      <label for="destination">To</label>
      <input type="text" id="to">
      <label for="tripdate">Date</label>
      <div id="dateCont">
        <input class="shdate" type="text" id="day">
        <span>-</span>
        <input class="shdate" type="text" id="month">
        <span>-</span>
        <input class="lodate" type="text" id="year">
      </div>
      <input type="submit" id="generate">
    </main>
    <aside>
      <h3>Looks good?</h3>
      <span>Find my other projects made for Udacity @ <a href="https://github.com/bbrakel">GitHub</a></span>
    </aside>
    <footer>
      <span>Powered by:</span><br>
      <span>https://darksky.net/poweredby/</span>
    </footer>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>

</html>